# Replace with your actual connection string
MONGODB_URI=mongodb+srv://varun_dev:Varun1234@collegeclubdirectory.ngr7t2m.mongodb.net/?appName=CollegeClubDirectory

# Your database name
MONGODB_DB=college_club_directory

CLIENT_ORIGIN=http://localhost:3000
SERVER_PORT=4000
API_SERVER_URL=http://localhost:4000
NEXT_PUBLIC_API_BASE_URL=/api
